.landing {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.landing h1 span {
  font-size: 70px;
}

.horrorLandingCard {
  background: transparent;
  text-align: center;
}

.landingPageLinks {
  margin-top: 30px;
}

.landingPageLinks a {
  color: red;
  font-weight: bolder;
  border: 2px solid white;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 20px;
}

.landingBackground {
  background: url("../img/m-wrona-pCgxm-HDMNs-unsplash.jpg") no-repeat center
    center/cover;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
}

/* Media query for screens 600px or less */
@media (max-width: 600px) {
  .landingBackground {
    background: url("../img/charlesdeluvio-pcZvxrAyYoQ-unsplash.jpg") no-repeat
      center center/cover;
  }
}
