.quickBattleGameContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.quickBattleCardsContainer {
  position: relative;
  /* display: flex; */
}

.quickBattleCard {
  /* position: absolute; */
}
