.quickBattleGameContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.quickBattleCardsContainer {
  position: relative;
  /* display: flex; */
}

.quickBattleCard {
  cursor: pointer;
  border: 2px solid transparent;
}

.quickBattleCard.selected {
  border-color: red;
}
